@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255, 255, 255;
  --color-base: 66, 71, 80;

  --font-family: Vazirmatn;
}

.dark {
  --bg: 15, 23, 42;
  --color-base: 226, 232, 240;
}

html[dir="ltr"] {
  --font-family: "Poppins", "Roboto", "sans-serif";
}

* {
  padding: 0;
  margin: 0;
  direction: rtl;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  color: rgb(var(--color-base));
  background-color: rgb(var(--bg));
}

::placeholder {
  color: #b9b9b9;
  font-size: 14px;
}
input {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

/* font */
@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../public/font/vazir/Vazirmatn-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
